.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30vw;
  margin: 0 auto;
}

@media (max-width: 1380px) {
  .form {
    max-width: 50vw;
  }
}

@media (max-width: 780px) {
  .form {
    max-width: 100%;
    margin: 0 calc(var(--offset) * 2);
  }
}

@media (max-width: 480px) {
  .form {
    max-width: 100%;
    margin: var(--offset);
  }
}

.form h1 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: calc(var(--fz) * 2.5);
  font-family: 'SourceSans';
  margin: 0;
  margin-bottom: 0.5em;
}

.form a {
  color: #5cb85c;
  text-decoration: none;
  font-size: calc(var(--fz) * 1.5);
  margin: 0;
  margin-bottom: 0.5em;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.form a:hover,
.form a:focus {
  opacity: 0.8;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--offset);
  width: 100%;
}

form label {
  width: 100%;
  display: block;
}

form input {
  width: 100%;
  padding: 0.75em 1.5em;
  font-size: 1.25em;
  border-radius: 0.3em;
  display: block;
  width: 100%;
  padding: 1em 1.5em;
  font-size: var(--fz);
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 0.05em solid rgba(0, 0, 0, 0.15);
  outline: none;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

form input:focus,
form input:hover {
  box-shadow: 0 0 0.8em 0.1em rgba(0, 0, 0, 0.15);
}

form button {
  padding: 0.8em 1.2em;
  font-size: calc(var(--fz) * 1.3);
  border-radius: 0.3em;
  color: #fff;
  background-color: #5cb85c;
  display: block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: none;
  margin-left: auto;
  transition-property: background-color, box-shadow, color;
  transition-duration: 0.5s;
  outline: none;
}

@media (max-width: 780px) {
  form button {
    padding: 0.5em 1em;
  }
}

form button:not(:disabled):hover,
form button:not(:disabled):focus {
  color: #5cb85c;
  box-shadow: 0 0 0 0.05em #5cb85c;
  background-color: #f8f9fa;
}

form button:disabled {
  opacity: 0.8;
}
